<p class="text-gray-500 text-2xl font-semibold ">Welcome back!</p>
<p class="text-3xl my-5 w-full font-bold">Reset Your Password Now !</p>
<form class="my-20 flex flex-col" [formGroup]="resetPass" (submit)="sendOtp(resetPass)" >
    <section class="flex flex-col">
        <label for="Email" class="font-bold">E-mail</label>
        <input   id="email" name="email" formControlName="email"  type="email" class="w-full my-3 p-2 bg-sky-100" >
    </section>
    <section class="flex flex-col">
        <label for="otp" class="font-bold">OTP</label>
        <input   id="otp" name="otp" formControlName="otp"  type="text" class="w-full my-3 p-2 bg-sky-100" >
    </section>
    <section class="flex flex-col">
        <label for="password" class="font-bold">password</label>
        <input   id="password" name="password" formControlName="password"  type="password" class="w-full my-3 p-2 bg-sky-100" >
    </section>
   <article class="text-violet-700 cursor-pointer">
        <input class="mx-3 accent-[rgba(98,81,221,1)] cursor-pointer" type="checkbox" id="Remember"> 
        <label for="Remember">Remember Me</label>
    </article>
    <section class="my-5">
            <button class="w-full border font-bold text-[rgba(98,81,221,1)] p-2 rounded-lg hover:opacity-90 transition block text-center" type="submit">send</button>
            <a href="auth/login" class= "cursor-pointer w-full bg-[rgba(239,107,74,1)] p-2 text-white rounded-lg hover:opacity-90 transition my-3 block text-center" type="submit">Login</a>
    </section>
</form>