<section id="hero">
    <div class="flex">
        <div class="text-[rgba(57,50,128,1)] mx-auto my-10 p-5 ">
            <h1 class="text-4xl my-5 ">ipsum dolor si</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.</p>
            <div class="my-5"><button class="border-1 p-2 cursor-pointer ">Read more <i class="mx-2 fa fas fa-arrow-right"></i> </button></div>
        </div>
        <div class="img">
            <img src="../../../../../assets/images/E-raamatud ja audioraamatud sisselogimata 1.png" alt="bookimg">
        </div>
    </div>
</section>
