<app-categories></app-categories>
<app-featured-books></app-featured-books>
<!-- slider -->
 <section class="w-full bg-[rgba(252,235,234,1)] my-5 pb-25">
<div class="bg-[rgba(237,85,59,1)] text-center text-white p-10 container mx-auto">
<h1 class="text-4xl my-4 font-bold">Subscibe to Our Newsletter</h1>
<p >Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit adipiscing enim pharetra hac.</p>
</div>
<div class=" flex md:w-1/2 mx-auto justify-between bg-white p-3" id="mailbox">
    <label for="email" class="my-auto p-1 border-1">
        <mat-icon aria-hidden="false"  fontIcon="mail"></mat-icon></label>
<input type="email" id="email" name="email" class="p-3 w-full"  placeholder="Enter yout Email">
<button class="bg-[rgba(237,85,59,1)] text-white cursor-pointer p-2  ">SUBSCRIBE</button>
</div>
 </section>
 <app-latest-articles></app-latest-articles>
