<footer class="w-full bg-[rgba(237,85,59,1)] text-white flex justify-center items-center p-2 @container" >
    <div class="flex flex-col @md:flex-row">
        <div class="flex-col">
            <img src="../../../../../assets/images/sample logo 1 (1).png" alt="our logo" class="w-10">
            <p class="my-3 w-85">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <section id="socialLinks" class="my-3">
                <a class="mx-2" routerLink="facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" routerLink="linkedin" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a class="mx-2" routerLink="twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" routerLink="youtube" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            </section>
        </div>
    </div>
   
</footer>
