<footer class="w-full mx-auto   bg-[rgba(237,85,59,1)] text-white p-3 ">
    <section class="flex  flex-wrap">
      <div class="w-full  md:w-1/3 p-2">
        <img src="../../../../../assets/images/sample logo 1 (1).png" alt="our logo" class="w-10">
        <p class="my-3 w-85">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <section id="socialLinks" class="my-3">
            <a class="mx-2" routerLink="facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" routerLink="linkedin" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a class="mx-2" routerLink="twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" routerLink="youtube" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
        </section>
      </div>
      <div class="w-full  md:w-1/3 p-2">
        <p class="my-5">Company</p>
    <ul>
        <li class="my-1"><a routerLink="Home">HOME</a></li>
        <li class="my-1"><a routerLink="ABOUTUS">ABOUTUS</a></li>
        <li class="my-1"><a routerLink="BOOKS ">BOOKS </a></li>
        <li class="my-1"><a routerLink="NEW RELEASE">NEW RELEASE</a></li>
        <li class="my-1"><a routerLink="CONTACTUS">CONTACTUS</a></li>
        <li class="my-1"><a routerLink="BLOG">BLOG</a></li>
    </ul>
      </div>
      <div class="w-full  md:w-1/3 p-2">
        <p class="my-5">Importent Links</p>
        <ul>
            <li class="my-1"><a routerLink="Privacy Policy">Privacy Policy</a></li>
            <li class="my-1"><a routerLink="FAQs">FAQs</a></li>
            <li class="my-1"><a routerLink="Terms of Service ">Terms of Service </a></li>
        </ul>
    </div>
  </section>
  <div class="flex w-full justify-between my-5">
    <p>© 2025 Arihant. All Rights Reserved.</p>
    <p>Privacy | Terms of Service </p>

  </div>
 </footer>