<section class="bg-[rgba(57,50,128,1)] text-white p-3 flex flex-col md:flex-row md:justify-between items-center gap-3">
    <section class="text-xl flex items-center gap-2">
      <mat-icon fontIcon="phone" class="w-5 h-5"></mat-icon>
      <span>+91 8374902234</span>
    </section>
  
    <section class="flex flex-wrap justify-center gap-3">
        <a routerLink="notfound" class="mx-3" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a routerLink="notfound" class="mx-3" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a routerLink="notfound" class="mx-3" aria-label="X"><i class="fab fa-x-twitter"></i></a>
        <a routerLink="notfound" class="mx-3" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a routerLink="notfound" class="mx-3" aria-label="Reddit"><i class="fab fa-reddit-alien"></i></a>
    </section>
  </section>
  