<p class="text-gray-500 text-2xl font-semibold ">Welcome back!</p>
<p class="text-3xl my-5 w-full font-bold">Change Your Password Easily </p>
<form class="my-20 flex flex-col"  [formGroup]="UpdatePassForm" (submit)="UpdatePass(UpdatePassForm)">
    <section class="flex flex-col">
        <label for="password" class="font-bold">Old password</label>
        <input   id="password" name="password" formControlName="password"  type="password" class="w-full my-3 p-2 bg-sky-100" >
    </section>
    <section class="flex flex-col">
        <label for="password" class="font-bold">New password</label>
        <input   name="password_new" formControlName="password_new"  type="password" class="w-full my-3 p-2 bg-sky-100" >
    </section>
    <section class="my-5">
            <button  class= "cursor-pointer w-full bg-[rgba(239,107,74,1)] p-2 text-white rounded-lg hover:opacity-90 transition my-3 block text-center" type="submit">save</button>
    </section>
</form>
