<p class="text-gray-500 text-2xl font-semibold ">Welcome back!</p>
<p class="text-3xl my-5 w-full font-bold">Forget Password  !!</p>
<form class="my-20 flex flex-col" [formGroup]="ForgetPass" (submit)="GetEmail(ForgetPass)"  >
    <section class="flex flex-col">
        <label for="Email" class="font-bold">E-mail</label>
        <input   id="email" name="email" formControlName="email"  type="email" class="w-full my-3 p-2 bg-sky-100" >
    </section>
    <section class="my-5">
            <button class="w-full border font-bold text-[rgba(98,81,221,1)] p-2 rounded-lg hover:opacity-90 transition block text-center">send</button>
    </section>
</form>