<section class="w-full text-[rgba(57,50,128,1)]">
   <div class="p-5 w-full">
    <p class="text-center bg-liner"><span>HOME</span>/ <span>CART</span></p>
   </div>
   <div class="flex flex-wrap justify-between">
  <div class="  md:w-1/2 w-full bg-liner">
    <h1 >Products Detailes</h1>
    <table class="table-auto w-full my-3 border-collapse">
        <thead>
          <tr class="border-t border-b text-left b">
            <th class="px-4 py-2">Num</th>
            <th class="px-4 py-2">Book</th>
            <th class="px-4 py-2"></th>
            <th class="px-4 py-2">Amount</th>
            <th class="px-4 py-2">Cost</th>
            <th class="px-4 py-2">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <!-- صفوف تجريبية -->
          <tr class=" hover:bg-gray-50">
            <td class="px-4 py-2">1</td>
            <td class="px-4 py-2">Angular for Beginners</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"><input type="number" class="bg-liner text-center w-25" name="" id=""></td>
            <td class="px-4 py-2">$10</td>
            <td class="px-4 py-2">$20</td>
            <td class="px-4 py-2 "><button class="border-1 cursor-pointer"><p class="p-1">x</p></button></td>
          </tr>
        </tbody>
      </table>
      
  </div>
  <div class="  mx-auto p-3">
    <div class="bg-liner ">
        <h1 class="border-b-1" >Cart Total Cost</h1>
        <div class="flex justify-between border-b-1 ">
           <p>Total</p>
           <p>12</p>
        </div>
        <div class="flex justify-between border-b-1 my-2">
           <p>tax</p>
           <p>12</p>
        </div>
        <div class="flex justify-between border-b-1 ">
           <p>Total Cost</p>
           <p>12</p>
        </div>
     </div>
     <div class="my-3 text-center">
        <button class="bg-[rgba(237,85,59,1)] text-white w-25 cursor-pointer p-1">Proced </button>
     </div>
    </div>

   </div>

</section>
