<section class="my-3 flex flex-col md:flex-row text-center items-center md:items-start gap-y-4">
    <div class="w-full md:w-[25%] flex justify-center md:justify-start">
      <div class="w-20 h-20 rounded-full bg-[rgba(196,196,196,1)]"></div>
    </div>
    <section class="w-full md:w-[50%] text-center md:text-start flex flex-wrap justify-center md:justify-start">
      <a class="mx-3 p-2 " routerLinkActive="text-[rgba(237,85,59,1)]" routerLink="home">Home</a> 
      <a class="mx-3 border-l p-2 " routerLinkActive="text-[rgba(237,85,59,1)]" routerLink="about">ABOUT US</a> 
      <a class="mx-3 border-l p-2 " routerLinkActive="text-[rgba(237,85,59,1)]" routerLink="new">NEW RELEASE</a> 
      <a class="mx-3 border-l p-2 " routerLinkActive="text-[rgba(237,85,59,1)]" routerLink="contact">CONTACT US</a> 
      <a class="mx-3 border-l p-2 " routerLinkActive="text-[rgba(237,85,59,1)]" routerLink="blog">BLOG</a> 
    </section>
    <div class="w-full md:w-[25%] flex justify-center md:justify-end">
      <section class="text-[rgba(57,50,128,1)]">
        <button class="mx-3 cursor-pointer">
          <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
        </button>
        <button class="mx-3 cursor-pointer border-l p-1">
          <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
        </button>
        <button class="mx-3 cursor-pointer border-l p-1">
          <mat-icon aria-hidden="false" fontIcon="favorite"></mat-icon>
        </button>
      </section>
    </div>
  </section>
  