<section class="my-5 p-3">
    <div class="flex align-center">
        <p class="me-10 text-start bg-[rgba(237,85,59,1)] w-15 h-1 mt-3 "></p>
        <p class="text-[rgba(237,85,59,1)]">Categories</p>
    </div>
    <div class="flex justify-between flex-wrap my-3">
      @for (Categorie of AllCategories; track $index) {
        <div class="card w-1/4 p-2 ">
          <img src="../../../../../assets/images/Rectangle 11.png" alt="test">
          <h1 class="text-center my-2 text-3xl text-[rgba(57,50,128,1)]">{{Categorie.title}}</h1>
        </div>
      }
      
    </div>
</section>


<!-- 
تعديلات
هعمل سلايدر 
واشوف صوره تنفع ليهم
واعمل حاجه لما اضغط عليها هتعرض كل الكتب الموجودة

-->