<p class="text-[rgba(122,122,122,1)] text-sm text-center my-5" >Read our articles</p>
<div class="flex justify-center my-5">
    <div class=" text-[rgba(23,63,95,1)] text-2xl flex  items-center ">
        <p class="line"></p>
        <p class="p-3 text-center"> Latest Articles</p>
        <p class="line"></p>
       </div>
</div>

<section class="w-full my-10">
    <div class="flex justify-between p-3 flex-wrap">
      <div class="w-full md:w-1/4 p-2">
        <div class="border-b-1 p-3">
       <img src="../../../../../assets/images/art-1.png" alt="Articles">
      <p class="text-sm text-[rgba(116,100,47,1)] my-3">2 aug, 2021</p>
      <p class="my-2"><a routerLink="read" class="text-[rgba(23,63,95,1)]">Reading books always makes the moments happy</a></p>
    </div>
    <section id="socialLinks" class="my-3  text-end text-[rgba(23,63,95,1)]">
        <a class="mx-2" routerLink="facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a class="mx-2" routerLink="instagram" aria-label="instagram"><i class="fab fa-instagram"></i></a>
        <a class="mx-2" routerLink="twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    </section>
    </div>
      <div class="w-full md:w-1/4 p-2">
        <div class="border-b-1 p-3">
        <img src="../../../../../assets/images/art-2.png" alt="Articles">
      <p class="text-sm text-[rgba(116,100,47,1)] my-3">2 aug, 2021</p>
      <p class="my-2"><a routerLink="read" class="text-[rgba(23,63,95,1)]">Reading books always makes the moments happy</a></p>
    </div>
    <section id="socialLinks" class="my-3  text-end text-[rgba(23,63,95,1)]">
        <a class="mx-2" routerLink="facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a class="mx-2" routerLink="instagram" aria-label="instagram"><i class="fab fa-instagram"></i></a>
        <a class="mx-2" routerLink="twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    </section>
    </div>
      <div class="w-full md:w-1/4 p-2">
        <div class="border-b-1 p-3">
        <img src="../../../../../assets/images/art-3.png" alt="Articles">
      <p class="text-sm text-[rgba(116,100,47,1)] my-3">2 aug, 2021</p>
      <p class="my-2"><a routerLink="read" class="text-[rgba(23,63,95,1)]">Reading books always makes the moments happy</a></p>
    </div>
    <section id="socialLinks" class="my-3  text-end text-[rgba(23,63,95,1)]">
        <a class="mx-2" routerLink="facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a class="mx-2" routerLink="instagram" aria-label="instagram"><i class="fab fa-instagram"></i></a>
        <a class="mx-2" routerLink="twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    </section>
    </div>
    </div>
    <div class="text-center  my-3 ">
        <a class="text-[rgba(23,63,95,1)] p-2 border-1 " routerLink="allarticles">read all articles  <i class="  fa fas fa-arrow-right mx-3"></i></a>
    </div>
</section>
  